<%- include('../partials/header') %>

<div class="card mt-4">
  <div class="card-body">
    <form action="/recipes/<%= recipe._id %>?_method=PUT"
          method="POST">
      <div class="row">
        <div class="col-2">
          Title:
        </div>
        <div class="col-6">
          <input type="text" name="title" value="<%= recipe.title %>" size="20" autocomplete="off">
        </div>
        <div class="col-4">
          <input type="submit" value="Update">
        </div>
      </div> 
      <div class="row">
        <div class="col-2">
          Description:
        </div>
        <div class="col-10">
          <textarea name="description" value="<%= recipe.description %>" rows="2" cols="24" autocomplete="off"></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
<br>

<div class="card">
  <div class="card-body">
    <h4>Ingredients:</h4>
    <% if (recipe.ingredients.length) { %>
      <% recipe.ingredients.forEach(function(i, idx) { %>
        <div class="row">
          <div class="col-3">
            <%= idx+1 %>:&nbsp;<%= i.quantity %>&nbsp;<%= i.units %>&nbsp;<%= i.name %>
          </div>
          <div class="col-1">
            <div class="btn-group">
            <form action="/recipes/<%= recipe.id %>/ingredients/<%= idx %>/up"
              method="POST">
              <button class="btn btn-sm" type="submit" <%= (idx === 0) ? "disabled" : "" %>>Up</button>
            </form>
            <form action="/recipes/<%= recipe.id %>/ingredients/<%= idx %>/down"
              method="POST">
              <button class="btn btn-sm" type="submit"<%= (idx === recipe.ingredients.length-1) ? "disabled" : "" %>>Dn</button>
            </form>
            <form action="/recipes/<%= recipe.id %>/ingredients/<%= idx %>?_method=DELETE"
              method="POST">
              <button class="btn btn-sm" type="submit">X</button>
            </form>
            </div>
          </div>
        </div>
      <% }) %>
    <% } else { %>
        <div class="row">
          <div class="col">
            No ingredients yet
          </div>
        </div>
    <% } %>
    <br>
    <form action="/recipes/<%= recipe._id %>/ingredients"
      method="POST">
      <div class="row">
        <div class="col-2">
          Quantity:
        </div> 
        <div class="col-6">
          <input type="number" name="quantity">
        </div> 
        <div class="col-4">
          <input type="submit" value="Add Ingredient">
        </div>
      </div> 
      <div class="row">
        <div class="col-2">
          Units:
        </div> 
        <div class="col-10">
          <input type="text" name="units">
        </div> 
      </div>
      <div class="row">
        <div class="col-2">
          Item:
        </div> 
        <div class="col-10">
          <input type="text" name="name">
        </div>
      </div> 
    </form>
  </div>
</div>
<br>

<div class="card">
  <div class="card-body">
    <h4>Directions:</h4>
    <% if (recipe.directions.length) { %>
      <% recipe.directions.forEach(function(d, idx) { %>
        <div class="row">
          <div class="col-3">
            <%= idx+1 %>:&nbsp;<%= d %>
          </div>
          <div class="col-1">
            <div class="btn-group">
              <form action="/recipes/<%= recipe.id %>/directions/<%= idx %>/up"
                method="POST">
                <button class="btn btn-sm" type="submit" <%= (idx === 0) ? "disabled" : "" %>>Up</button>
              </form>
              <form action="/recipes/<%= recipe.id %>/directions/<%= idx %>/down"
                method="POST">
                <button class="btn btn-sm" type="submit"<%= (idx === recipe.directions.length-1) ? "disabled" : "" %>>Dn</button>
              </form>
              <form action="/recipes/<%= recipe.id %>/directions/<%= idx %>?_method=DELETE"
                method="POST">
                <button class="btn btn-sm" type="submit">X</button>
              </form>
            </div>
          </div>
        </div>
      <% }) %>
    <% } else { %>
      <div class="row">
        <div class="col">
          No directions yet
        </div>
      </div>
    <% } %>
    <br>

    <form action="/recipes/<%= recipe._id %>/directions"
      method="POST">
      <div class="row">
        <div class="col-2">
          Step:
        </div> 
        <div class="col-6">
          <input type="text" name="direction">
        </div> 
        <div class="col-2">
          <input type="submit" value="Add Step">
        </div>
      </div>
    </form>
  </div>
</div>


<%- include('../partials/footer') %>
