<%- include('../partials/header') %>

<section>
  <div>Title: <%= recipe.title %></div>
  <div>Description: <%= recipe.description %></div>
  <br>
  <div>Ingredients:</div>
  <br>
  <div>Directions:</div>
  <% if (recipe.directions.length) { %>
    <% recipe.directions.forEach(function(d, idx) { %>
      <div><%= idx+1 %>:&nbsp;<%= d %></div>
    <% }) %>
  <% } %>
  <br>
  <div>Comments:</div>
  <br>
  <form action="/recipes/<%= recipe._id %>/edit" method="GET">
    <button class="btn btn-primary" type="submit">Edit Recipe</button>
  </form>

</section>

<%- include('../partials/footer') %>
