<%- include('../partials/header') %>

<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title"><%= recipe.title %></h5>
    <p class="card-text"><%= recipe.description %></p>
    <h6>Ingredients:</h6>
    <% if (recipe.ingredients.length) { %>
      <% recipe.ingredients.forEach(function(i, idx) { %>
      <div class="row">
        <div class="col-1">
          <%= i.quantity %>&nbsp;<%= i.units %>
        </div>
        <div class="col-11">
          <td><%= i.name %></td>
        </div>
      </div>
      <% }) %>
    <% } else { %>
      <div>No ingredients yet</div>
    <% } %>
    <br>
    <h6>Directions:</h6>
    <% if (recipe.directions.length) { %>
      <% recipe.directions.forEach(function(d, idx) { %>
        <div class="row">
          <div class="col">
            <%= idx+1 %>.&nbsp;<%= d %>
          </div>
        </div>
      <% }) %>
    <% } %>
    <br>
    <a href="/recipes/<%= recipe._id %>/edit" class="btn btn-primary">Edit Recipe</a>
  </div>
</div>

<section>
  <h5>Comments:</h5>
  <% if (comments.length) { %>
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Comment</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% comments.forEach(function(c) { %>
          <tr>
            <td><img id="avatar" alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" >&nbsp;<%= c.userName %></td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.content %></td>
            <td>
              <% if (user?._id.equals(c.user)) { %>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <div>No Comments Yet<div>
  <% } %>

  <% if (user) { %>
    <form method="POST"
      action="/recipes/<%= recipe._id %>/comments">
      <label>Comment:</label>
      <textarea name="content"></textarea>
      <input type="submit" value="Add Comment">
    </form>
  <% }; %>
    
</section>

<%- include('../partials/footer') %>
